# directories
spack
tmp
cache
stage
.bootstrap
.jython_cache
# file types
spack-manager.yaml
Makefile
__pycache__
*.lock
.spack-env/
*.log
.spack*
*.code-workspace
*.pyc
.vscode
.cache
Configuring
.tmp/
*.swp
*.DS_*
