# directories
spack
environments
golds
logs
tmp
views
modules
cache
configs/user
# file types
__pycache__
*.lock
.spack-env/
*.log
.spack*
*.code-workspace
*.pyc
.vscode
.cache
Configuring
.tmp/
*.swp
