# directories
spack
stage
environments
snapshots
golds
logs
tmp
views
modules
cache
configs/user
stage
# file types
Makefile
__pycache__
*.lock
.spack-env/
*.log
.spack*
*.code-workspace
*.pyc
.vscode
.cache
Configuring
.tmp/
*.swp
